
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Traditional Game</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
    
    </head>
    
    
    <body>
        <section class="">

            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        
                <div class="carousel-inner jumbotron bg-cover text-white">
                    <div class="carousel-item active" style="background-image: url('img/main-bg.jpg') ">
        
                        <div class=" text-center" id="head">
                            <header class="text-center display-4  text-white ">
                                <h1 class=" font-weight-bold mb-4 display-2"><strong>404</strong> </h1>
                                
                                </div>
        
                            </header>
                            <div class="row align-items-center">
                                <div class="story">
                                    <p class="bold">THE STORY</p>
                                </div>
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" id="down" viewBox="0 0 16 16">
                                        <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                                      </svg>
                                </div>
                            </div>
        
        
                        </div>
        
                    </div>
                </div>
        
            </div>
        
        </section>
    
       
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
       
    </body>
    </html>