<section>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner jumbotron bg-cover text-white">

            <div class="carousel-item active" style="background-image: url('img/features.jpg'); margin-top: -75px;">


                <div class="row " id="fontfeature1">
                    <div class="col-6"></div>
                    <div class="col-6 text-right text-white " id="fontfeature">

                        <h5 class="lead" style="letter-spacing: 2px; ">What's so spesial?</h5>
                        <h3 class=" font-weight-bold mb-5 display-5"><strong>FEATURES</strong></h3>

                        <div class="row ">
                            <ul class="timeline ">
                                <li class="">
                                    <a target="_blank" class="font-weight-bold line " href="#">
                                        <h5 id="line" class="text-right featurefont">TRADITIONAL GAMES</h5>
                                    </a>

                                    <p class="text-right line" id="line">If you miss your childhood, we provide<br>many traditional games here</p>
                                </li>
                                <li>
                                    <a target="_blank" class="font-weight-bold line " href="#">
                                        <h5 id="line" class="text-right featurefont">GAME SUIT</h5>
                                    </a>

                                </li>
                                <li>
                                    <a target="_blank" class="font-weight-bold line " href="#">
                                        <h5 id="line" class="text-right featurefont">TBD</h5>
                                    </a>

                                </li>
                            </ul>
                        </div>

                        </header>

                    </div>
                </div>
            </div>

        </div>
</section>
