<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Rock Paper Scissor</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style2.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />

</head>

<body>

    <nav class="navbar navbar-light" style="background-color: #9B835F;">
        <a style="padding-left: 20px;" class="navbar-brand" href="/home">
            <svg id="logo" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
              </svg>
            <img src="img/logo.png" width="3%" class="img1">
            <strong id="name"> PAPER ROCK SCISSORS</strong>
        </a>
    </nav>


    <div class="container text-center">
        <div class="row justify-content-center">

            <div class="col">
                <h2 style="float: right;">PLAYER 1</h2>
            </div>
            <div class="col">

            </div>
            <div class="col">
                <h2 style="float: left; padding-left: 50px;">COM</h2>
            </div>
        </div>

        <div class="row justify-content-center">

            <div class="col">
                <div class="button1" id="rock" style="float: right;">
                    <img class="img bn btn " onclick="suit('Batu')" src="img/batu.png" width="100px">
                </div>
            </div>
            <div class="col">


            </div>
            <div class="col">
                <div class="button1" id="rock2" style="float: left;">
                    <img class="img bn btn  " value="rock2" src="img/batu.png" width="100px">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="button2" id="paper" style="float: right;">
                    <img class="img bn btn " onclick="suit('Kertas')" src="img/kertas.png" width="80px">
                </div>
            </div>
            <div class="col">
                <div id="button4" class="button">
                    <h1 id="hasil" class="hasil">
                        <strong>VS</strong>
                    </h1>
                </div>

            </div>
            <div class="col">
                <div class="button2" id="paper2" style="float: left;">
                    <img id="paper2" class="img bn btn  " value="paper2" src="img/kertas.png" width="80px">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">

            <div class="col">
                <div class="button3" id="scissors" style="float: right;">
                    <img class="img bn btn " onclick="suit('Gunting')" src="img/gunting.png" width="100px">
                </div>
            </div>
            <div class="col">


            </div>
            <div class="col">
                <div class="button3" id="scissors2" style="float: left;">
                    <img id="scissors2" class="img bn btn  " value="scissors2" src="img/gunting.png" width="100px">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm"><img onclick="refresh()" class="img btn" src="img/refresh.png" width="100px"></div>
            <div class="col-sm"></div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    <!-- Custom scripts -->
    <script type="text/javascript" src="js/suit.js"></script>

</body>

</html>