<section class="">

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner jumbotron bg-cover text-white">
            <div class="carousel-item active" style="background-image: url('img/main-bg.jpg') ">

                <div class=" text-center" id="head">
                    <header class="text-center display-4  text-white ">
                        <h1 class=" font-weight-bold mb-4 display-2"><strong>PLAY TRADITIONAL GAME</strong> </h1>
                        <p class="lead">Experience new traditional game play</p>
                        <div class="play">
                            <a class="btn-warning px-5 btn-lg button" href="/game">PLAY NOW</a>
                        </div>

                    </header>
                    <div class="row align-items-center">
                        <div class="story">
                            <p class="bold">THE STORY</p>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" id="down" viewBox="0 0 16 16">
                                <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                              </svg>
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>

</section>