
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title><%- title -%></title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
    
    </head>
    
    
<body>
      
<%- include("navbar"); -%>
   <div class="bg-dark pb-5" style="background-image: url('img/requirements.png'); ">
    <div class="text-center center-div pb-5" id="login">

        <div class="container w-25 border py-5">
            <div class="title pb-5">
                <h2 class="font-weight-bold text-white">Login</h2>
                <span class="text-white">Sign Up for User</span>
            </div>
            <form action="#" class="pt-3">
                <div class="form-group pb-2">
                    <input type="email" class="form-control" placeholder="Email" name="email">
                   
                </div>
                <div class="form-group pb-2">
                    <input type="text" class="form-control" placeholder="Username" name="username">
                   
                </div>
                <div class="form-group pb-3">
                    <input type="password" class="form-control" placeholder="Password" name="password">
                    
                </div>
                <button type="submit" class="btn btn-warning">Login</button>
            </form>
        </div>
    
    </div>
</div>
</body>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</html>
