<section>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner jumbotron bg-cover text-white">
            <div class="carousel-item active" style="background-image: url('img/requirements.png'); margin-top: -75px;">
                <div class="container text-right" id="fontrequirements">
                    <header class="text-white">
                        <p class=" text-center" id="fontrequirements2" style="letter-spacing: 2px; ">Can My Computer Run this Game?</p>
                        <h3 class=" font-weight-bold mb-5 display-5" style="letter-spacing: 2px; "><strong>SYSTEM<br>REQUIREMENTS</strong> </h3>
                        <table id="table-req" cellpadding="20" cellspacing="20">
                            <tr>
                                <td>
                                    <h5  id="fontreq">OS</h5>
                                    <p class="text-white" style="letter-spacing: 2px; ">Windows 7 64-bit Only<br>No OSX support at this time </p>
                                </td>
                                <td>
                                    <h5 id="fontreq">PROCESSOR</h5>
                                    <p class="text-white" style="letter-spacing: 2px; ">Intel Core 2 Duo @ 2.4 GHZ or<br>AMD Athlon X2 @ 2.8 GHZ</p>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <h5 id="fontreq">MEMORY</h5>
                                    <p class="text-white" style="letter-spacing: 2px; ">4 GB RAM</p>
                                </td>
                                <td>
                                    <h5 id="fontreq">STORAGE</h5>
                                    <p class="text-white" style="letter-spacing: 2px; ">8 GB AVAILABLE SPACE</p>
                                </td>

                            </tr>
                            <tr>
                                <td colspan="2">
                                    <h5 id="fontreq">GRAPHICS</h5>
                                    <p class="text-white" style="letter-spacing: 2px; ">NVIDIA GeForce GTX 660 2GB or <br> AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
                                    </p>
                                </td>


                            </tr>
                        </table>
                    </header>
                </div>
            </div>
        </div>

    </div>
</section>
