
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title><%- title -%></title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
    
    </head>
    
    
    <body>
      
    <%- include("navbar"); -%>
   
    <section>

        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    
            <div class="carousel-inner jumbotron bg-dark bg-cover bg-opacity-75 text-white">
                <div class="carousel-item active " style="background-image: url('img/top-score-bg.png'); " id="top">
                    <div class="container work">
                        <header class="text-white">
                            <h2 class="text-center font-weight-bold display-5" style="letter-spacing: 5px; "><strong>WORK PAGE</strong> </h2>
                            <p class=" text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br/>Phasellus non purus sapien. Nulla arcu elit, volutpat in ipsum id</p>
                            <div class="mb-5  text-center"><a href="#" role="button" class="btn btn-warning px-5 btn-lg font-weight-bold">see more</a></div>
                        </header>
                    </div>
    
                
                </div>
            </div>
    
        </div>
    </section>
    
        <!-- script -->
    
       
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
       
    </body>
    </html>