.button:active {
    background-color: #d1d1d1;
    box-shadow: 0 5px rgb(100, 100, 100);
    padding: 20px;
    transform: translateY(4px);
}

.button:active span::after {
    background-color: #d1d1d1;
    box-shadow: 0 5px rgb(100, 100, 100);
    transform: translateY(4px);
}

body {
    background-color: #9B835F;
}

.img1 {
    width: 50px;
    height: 50px;
}

#logo {
    padding-right: 10px;
}

#name {
    color: #e2b033;
    padding-left: 10px;
}

.button {
    border-radius: 12px;
    padding: 30px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #BE0000;
}

.hasil {
    font-size: 100px;
}

.button1 {
    border-radius: 12px;
    padding: 24px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button2 {
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button3 {
    border-radius: 12px;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}